@charset "utf-8";

:root {
    --cor6: #FFFFFF;
    --cor7: #58a8a9;
    --cor8: #3ea47d;
    --cor9: #8a7b4d;
    --cor10: #1D1D21;

    --fonte-padrao: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    --fonte-destaque: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 1px;
    height: 100%;
    width: 60%;
    height:96vh;
    font-family: var(--fonte-padrao);
    text-decoration-color: rebeccapurple ;
    position: absolute;
    background: rgba(5, 110, 124, 0.618) center center/cover repeat fixed;
    max-width: 900px;
    max-height: 100px;
}

header {    
    background-image: linear-gradient(to right, rgba(5, 110, 124, 0.222), rgba(209, 247, 214, 0.483), rgba(158, 254, 171, 0.578), #58a8a9,rgb(102, 171, 129), #3ea47d);
    font-family: var(--fonte-destaque);
    font-size: 1em;  
    font-weight: bold;
    max-height: 150px;
    text-align: left center;
    margin:0px;
    box-shadow: 3px 1px 5px 1px rgba(0, 0, 0, 0.36);
    border-radius: 10px;
}

header>p {
    font-family: var(--fonte-destaque);    
    font-size: 1em;  
    font-weight: bold;
    font-style: italic;  
    color: var(--cor9);
    text-align: left;
    text-shadow: 8px 8px 8px rgba(0, 0, 0, 0.504);
    margin-left: 2%;
    margin-top: -0%;
    background-image: linear-gradient(to right,rgba(5, 110, 124, 0.222), rgba(209, 247, 214, 0.483), #58a8a9,rgb(102, 171, 129), #3ea47d);
}
h1{
    font-family: var(--fonte-destaque);
    font-size: 2em;
    font-weight: bolder;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.245), -2px -2px 4px rgba(255, 255, 255, 0.523); 
    padding-left: 15px;
    border-radius: top 10px;
    margin: 0px;
    background-image: linear-gradient(to right,rgba(5, 110, 124, 0.222), rgba(209, 247, 214, 0.483), #58a8a9,rgb(102, 171, 129), #3ea47d);
    box-shadow:top 5px 3px 5px 1px rgba(0, 0, 0, 0.237);
    letter-spacing: 2px;
}header> nav a{
    color: var(--cor10);
    font-family: var(--fonte-destaque);
    font-size: 1.2em;
    font-weight: normal;
    font-style: italic;
    text-shadow: 2px 8px 8px rgba(0, 0, 0, 0.431);
}header> nav{        
    text-align: center;
    border-radius: right 5px;
    margin: 0px;
    background-image: linear-gradient(to right,rgba(5, 110, 124, 0.222), rgba(209, 247, 214, 0.483), #58a8a9,rgb(102, 171, 129), #3ea47d);
    box-shadow:bottom 3px 1px 5px 1px rgba(0, 0, 0, 0.472);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.245), -2px -2px 4px rgba(255, 255, 255, 0.523); 
    word-spacing: 3px;
}

#container {
    background-color: rgb(9, 236, 13);
    position: relative;
    box-shadow: 3px 1px 5px 1px rgba(0, 0, 0, 0.36);
    border-radius: 5px;
    height:450px;
    width: 100%;       
    margin: 0px;
    padding: 100% auto;
}
#d1{
    background-image:  url('imagens/Site-news-9-papper 800.png');
    position: absolute;
    background-size: 100% 100%;
    height: 100%;
    width: 40%;
}
#d2{
    background-image:  url('imagens/man-1000.jpg');
    position: absolute;
    background-size: 100% 100%;
    right: 0;
    bottom: 50%;
    height: 50%;
    width: 60%;
}
#d3{
    background-image:  url('imagens/book-400.jpg');
    position: absolute;
    background-size: 100% 100%; 
    right: 30%;
    bottom: 0%;  
    height: 50%;
    width: 30%;
}
#d4{
    background-image:  url('imagens/coffee-400.jpg');
    position: absolute;
    background-size: 100% 100%;
    right: 0%;
    top: 50%;
    height: 50%;
    width: 30%;
}
article {
    box-shadow: 3px 1px 5px 1px rgba(0, 0, 0, 0.36);
    width: 100%;    
    padding: 0px;
}
.corpus{
    background-color: rgba(9, 236, 13, 0);
    position: relative;
    border: 1px solid rgba(6, 6, 6, 0.423);
    border-radius: 5px;
    width: 100%;
    height: 100%;
    max-width: 1800px;     
    padding: 0 auto;
    margin: 0 auto;
}
#m1{ 
    box-shadow: 3px 1px 5px 1px rgba(0, 0, 0, 0.36);
    background-color: white;

}
#m1 img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
#m2{ 
    box-shadow: 3px 1px 5px 1px rgba(0, 0, 0, 0.36);
    background-color: white;

}
#m2 img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
#m3{ 
    box-shadow: 3px 1px 5px 1px rgba(0, 0, 0, 0.36);
    background-color: white;

}
#m3 img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
h2{
    text-align: center;
    font-family: var(--fonte-destaque);
    height: 5%;
    position:relative;
    margin: 0px auto;
    padding: 0px;
    border-radius: right 5px;
    background-image: linear-gradient(to right,rgba(5, 110, 124, 0.222), rgba(209, 247, 214, 0.483), #58a8a9,rgb(102, 171, 129), #3ea47d35);
    box-shadow: 3px 1px 5px 1px rgba(0, 0, 0, 0.183);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.245), -2px -2px 4px rgba(255, 255, 255, 0.523); 
    word-spacing: 2px;
}
.corpus>p{
    color: black;
    font-family:var(--fonte-padrao);
}

footer {
    font-family: var(--fonte-destaque);
    background-image: linear-gradient(to right,rgba(5, 110, 124, 0.222), rgba(209, 247, 214, 0.483), #58a8a9,rgb(102, 171, 129), #3ea47d36);
    box-shadow: 3px 1px 5px 1px rgba(0, 0, 0, 0.187);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.245), -2px -2px 4px rgba(255, 255, 255, 0.523); 
    word-spacing: 1px;   
    border-radius: 5px;
    padding-top: 1px;
    margin-bottom: 20px;
}