@charset "utf-8";

:root {
    --cor0: #FFFFFF;
    --cor1: #999999;
    --cor2: #EBB101;
    --cor3: #1D1D21;
    --cor4: #000000;

    --fonte-padrao: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    --fonte-destaque: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {   
    height: 100%;
    width: 100%;
    height:100vh;
    font-family: var(--fonte-padrao);
    text-decoration-color: rebeccapurple ;
    position: absolute;
    background: rgba(5, 110, 124, 0.618) center center/cover repeat fixed;
    max-width: 1200px;
}

header {    
    background-image: linear-gradient(to right, rgb(158, 254, 171), rgb(88, 168, 169),rgb(102, 171, 129), rgb(62, 164, 125));
    font-family: var(--fonte-destaque);
    font-size: 1em;  
    font-weight: bold;
    max-height: 150px;
    text-align: left center;
    margin:0px;
    border: 5px solid rgba(0, 0, 0, 0.353);
    border-radius: 10px;
}

header>p {
    font-family: var(--fonte-destaque);    
    font-size: 1.2em;  
    font-weight: bold;
    font-style: italic;  
    color:#0960ec;
    text-align: left;
    text-shadow: 8px 8px 8px rgba(0, 0, 0, 0);
}
header> nav{
    font-family: var(--fonte-destaque);
    font-size: 1.4em;
    font-weight: normal;
    font-style: italic;
    text-align: center;
    text-shadow: 8px 8px 8px rgba(0, 0, 0, 0);
    margin: 10px;
    color: #EBB101;
    background: rgb(242, 188, 212);
    box-shadow: 3px 1px 5px 1px rgba(0, 0, 0, 0.36);
}

#container {
    background-color: rgb(9, 236, 13);
    position: relative;
    border: 5px solid red;
    border-radius: 5px;
    height:500px;
    width: 100%;       
    margin: 0 ;
    padding: 100% auto;
}
#d1{
    background-image:  url('imagens/Site-news-9-papper 800.png');
    position: absolute;
    background-size: 100% 100%;
    height: 100%;
    width: 40%;
}
#d2{
    background-image:  url('imagens/man-1000.jpg');
    position: absolute;
    background-size: 100% 100%;
    right: 0;
    bottom: 50%;
    height: 50%;
    width: 60%;
}
#d3{
    background-image:  url('imagens/book-400.jpg');
    position: absolute;
    background-size: 100% 100%; 
    right: 30%;
    bottom: 0%;  
    height: 50%;
    width: 30%;
}
#d4{
    background-image:  url('imagens/coffee-400.jpg');
    position: absolute;
    background-size: 100% 100%;
    right: 0%;
    top: 50%;
    height: 50%;
    width: 30%;
}

main {
    background-color: blue;
    border-radius: 10px;
}    
article {
    background-color: rgb(205, 243, 147);
    border: 10px solid black;
    width: 100%;    
    padding: 0px;
}
.corpus{
    background-color: rgba(9, 236, 13, 0);
    position: relative;
    border: 1px solid rgba(6, 6, 6, 0.423);
    border-radius: 5px;
    width: 100%;
    height: 100%;
    max-width: 1800px;     
    padding: 0 auto;
    margin: 0 auto;
}
#m1{ 
    border: 5px solid #08080d3b;
    background-color: white;

}
#m1 img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
#m2{ 
    border: 5px solid #08080d3b;
    background-color: white;

}
#m2 img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
#m3{ 
    border: 5px solid #08080d3b;
    background-color: white;

}
#m3 img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
h2{
    background:rgb(175, 191, 2);
    text-align: center;
    font-family: var(--fonte-destaque);
    height: 40px;
    position:relative;
    margin: 0px;
    
}
.corpus>p{
    color: black;
    font-family:var(--fonte-padrao);
}

aside {
    background-color: rgb(250, 159, 159);
    
    border: 40px solid rgb(145, 10, 50);

}