@charset "UTF-8";

:root {
    --cor0: #C4FFE5;
    --cor1: #0BDED9;
    --cor2: #009BF5;
    --cor3: #0B3FDE;
    --cor4: #100070;
    --cor5: #080130;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: cursive;

}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(230, 225, 225);
    margin: 0px;
}

header {
    font-family: 'Times New Roman', Times, serif;
    border-radius: 8px;
    box-shadow: 2px 1px 0px 3px rgba(1, 4, 8, 0.301);
    width: auto;
    padding: 1px;
    margin: 10px;

}

header h1 {

    text-align: center;
    border-radius: 8px;
    box-shadow: 2px 1px 0px 3px rgba(1, 4, 8, 0.301);
    width: auto;
    padding: 1px;
    margin: 10px;

}

nav {
    font-size: 1.1em;    
    background-color: rgba(201, 183, 183, 0.336);
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    height: 10%;
}

nav a {
    display: inline-block;
    color: rgb(19, 121, 218);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
}