@charset "utf-8";

body {
    background-color: sienna;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 12px;
}
header {
    background-color: bisque;
    margin: 0px 10px;
    border: 1px solid black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.521);
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
nav {
    background-color: bisque;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.521);
    border-radius: 8px;
    margin: 5px 70px;
    text-align: center;
}
nav a {
    color: rgb(114, 15, 15);
    padding: 20px;
    text-decoration: none;    
    font-size: 18px;
    font-weight: bold;
}
table {
    border-collapse: collapse;
    margin: 0px;
    width: 10%;
    height: 5%;
}
thead, th, td{
   max-width: 2%;
   max-height: 2%;
}
thead {
    background-color: lightblue;
}
th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}
td {
    background-color: bisque;
}